
.icona {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: auto;
}

.hud {
    background: #FFF;
    color: #000;
    border: 1px #000 solid;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 0 0 20px 20px
}

.controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .btn {
        display: block;
        flex-grow: 1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 25px;
        height: 40px;
    }
}
.btn-reset {
    background-image: url("img/ico-reset.svg");
}
.btn-undo {
    background-image: url("img/ico-back.svg");
}
.btn-newtube {
    background-image: url("img/ico-joker.svg");
}
.btn-new {
    background-image: url("img/ico-next.svg");
}
.btn-playpause {
    background-image: url("img/ico-music.svg");
}

.game {
    background: rgba(#FFF,.7);
    border-radius: 15px;
    text-align: center;
    margin: 0 auto;
    transition: 1s ease all;
    padding: 20px 0;
}
.tube {
    display: inline-block;
    border-style: solid;
    border-color: #000;
    border-width: 0 2px 2px 2px;
    border-radius: 0 0 30px 30px;
    //box-shadow: 0 3px 2px 2px rgba(#bbb,.5);
    margin: 8px 5px;
    padding: 4px;
    width: 44px;
    height: 150px;
    position: relative;
    cursor: pointer;
    transition: .2s ease all;
    .darkmode & {
        border-color: #FFF;
    }
    .ball {
        position: absolute;
        left: 4px;
        //box-shadow: 0 0 1px 1px #FFF;
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 30px;
        padding-top: 6px;
        color: rgba(#FFF,.3);
        &.color0 { background: #E71F1F; }
        &.color1 { background: #355FDC; }
        &.color2 { background: #85E631; color: rgba(#000,.3);}
        &.color3 { background: #FBDD23; color: rgba(#000,.3);}
        &.color4 { background: #B622DC; }
        &.color5 { background: #F37D26; }
        &.color6 { background: #196E2A; }
        &.color7 { background: #8D5C5C; }
        &.color8 { background: #FC4F79; }
        &.color9 { background: #61CBEE }
        &.color10 { background: gray }
        &.color11 { background: rgb(32, 26, 22); }
        &:nth-child(1) { bottom: 4px; }
        &:nth-child(2) { bottom: 38px; }
        &:nth-child(3) { bottom: 72px; }
        &:nth-child(4) { bottom: 106px; }
        transition: .2s ease all;
    }
    &.checked {
        background: rgba(#FFF,.25);
        .ball:last-child {
            transform: translateY(-22px);
        }
    }
    &.completed {
        background: rgba(yellow,.5);
        animation: tube-completed .4s;
    }

    @keyframes tube-completed {
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
      }
}

.btn {
    background-color: #FFF;
    border: 2px solid #000;
    color: #000;
    padding: .5em 1em;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    margin: 0 2px 6px 2px;
    border-radius: 5px;
    font-size: 18px;
    &:disabled {
        opacity: .5;
    }
    &:focus {
        outline:none;
        box-shadow: 0 0 10px orangered;
    }
}

#countdown {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px 15px;
    display: block;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    color: #FFF;
    background: #000;
    font-weight: bold;
}

.winner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#000,.5);
    color: #FFF;
    z-index: 100;
    h2 {
        color: #FFF;
    }
    div {
        h2,p {
            margin: 0;
        }
        p {
            color: #666;
        }
        font-size:20px;
        width: 300px;
        height: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #000;
        border-radius: 200px;
        padding-top: 70px;
    }
    .galeta {
        margin: 0;
        font-size: 80px;
    }
}


body.darkmode {
    background-image: url("img/gatete-d.jpg");
    color: #FFF;
    .game {
        background: rgba(#000,.7);
    }
}

.game-header-boles {
    background-image: url("img/joan.jpg");
}

body.dracmode {
    .game-header-boles {
        background-image: url("img/drac.gif");
    }
    .game {
        transform: rotate(180deg);
    }
}