@font-face {
    font-family: 'Eina';
    font-display: swap;
    src: local('Eina Bold'),
         url('fonts/eina-01-bold.woff2') format('woff2'),
         url('fonts/eina-01-bold.woff') format('woff'),
         url('fonts/eina-01-bold.ttf') format('ttf'),
         url('fonts/eina-01-bold.eot?#iefix') format('eot');
    font-weight: 700;
    unicode-range: U+000-5FF;
}

@font-face {
    font-family: 'Eina';
    font-display: swap;
    src: local('Eina  Regular'),
         url('fonts/eina-01-regular.woff2') format('woff2'),
         url('fonts/eina-01-regular.woff') format('woff'),
         url('fonts/eina-01-regular.ttf') format('ttf'),
         url('fonts/eina-01-regular.eot?#iefix') format('eot');
    font-weight: 400;
    unicode-range: U+000-5FF;
}
/*
@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("fonts/Inter-Regular.woff2?v=3.13") format("woff2"),
         url("fonts/Inter-Regular.woff?v=3.13") format("woff");
  }

  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("fonts/Inter-Bold.woff2?v=3.13") format("woff2"),
         url("fonts/Inter-Bold.woff?v=3.13") format("woff");
  }
  */