@import 'fonts';

* {
    box-sizing: border-box;
    touch-action: manipulation;
    -webkit-font-smoothing: antialiased;
}

html {
    width: 100%;
    height: 100%;
    transform: transale3d(0,0,0);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
body {
    margin: 0 auto;
    background-color: #FFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    font-size: 16px;
    text-align: center;
    color: #333;
    font-family: 'Eina', sans-serif;
    overscroll-behavior-y: none;
}

input,button {
    font-family: 'Eina', sans-serif;
    font-size: 18px;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 20px;
   
}

section {
    min-height: calc(100vh - 96px);
}

header {
    background: #000;
    height: 48px;
    line-height: 48px;
    vertical-align: middle;
    color: #FFF;
    text-align: left;
    .container {
        display: flex;
    }
    .userinfo {
        margin-left: auto;
        display: block;
        margin-right: 0;
    }
    a {
        font-weight: bold;
        color: #FFF;
        text-decoration: none;
    }
}

.game-header {
    height: 160px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    h2 {
        position: absolute;
        font-size: 20px;
        color: #FFF;
        margin: 0;
        top: 15px;
        left: 20px;
    }
}

footer {
    height: 48px;
    line-height: 48px;
    vertical-align: middle;
    text-align: left;
    a {
        color: #000;
        font-weight: bold;
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }



@import 'boletes';